<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>
<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<div class="card">
    <div class="card-header">
        문의 관리페이지 
    </div>
    <div class="card-body">
        <div>
            <canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
	                chart-series="series" chart-click="onClick">
            </canvas> 
            test 
        </div>
        <ng-include src="getView()"/>
    </div>
</div>
