<style>
    .listDesign {
        text-align: center;
        vertical-align: middle;
    }

    .listDesign:hover {
        color: white;
        background-color: #00B0F0;
        cursor: pointer;
    }
    /* td > a > img {
        width:120px;
    } */
    .table td{
        vertical-align: middle;
    }
    ul>li {
        list-style: none;
        padding: 2%;
    }
</style>


<div class="card">
    <div class="card-header">
        사방 게시물 목록 22
    </div>
    <div class="card-body">
    
    </div>
</div>