<div class="card">
    <div class="card-header">
        실적 관리 페이지
    </div>
    <div class="card-body d-flex">
        <div class="flex-grow-1" style="flex-direction:column; height:100%">
            <div style="flex: 1; overflow: auto;">
                <ng-include src="'views/profit_m/profit_m_member.html'"></ng-include> 
            </div>
        </div>
        <div class="flex-grow-1 ml-1 mr-1" style="flex-direction:column; height:100%">
            <div style="flex: 1; overflow: auto;">
                <ng-include src="'views/profit_m/profit_m_sabang.html'"></ng-include>
            </div>
        </div>
        <div class="flex-grow-1" style="flex-direction:column; height:100%">
            <div style="flex: 1; overflow: auto;">
                <ng-include src="'views/profit_m/profit_m_order.html'"></ng-include>
            </div>
        </div> 
    </div>
</div>