<div class="card">
    <div class="card-header">
        주문 실적
    </div>
    <div class="card-body">
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        오늘의 판매량
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        총 판매금액:
                    </div>
                    <div>
                        총 주문건수:
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        일단위 판매량
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <!-- 막대그래프 -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        월단위 판매량
                    </div>
                    <div ng-repeat="total in totalprice">
                        {{total}}
                    </div>
                    
                </div>
                <div class="card-body">
                    <div>
                        <!-- 막대그래프 -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        결제 카드 도표
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <!-- 원형도표 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>