<script>

var ctx = document.getElementById("canvas").getContext("2d");
window.myLine = new Chart(ctx ,{
          type: &#39;line&#39;,
          data: yourData,
          options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                           
                    }
                  }]
               }
            }
});

</script>
<div class="card">
    <div class="card-header">
        주문 실적
    </div>
    <div class="card-body" style="">
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        누적 판매량
                    </div>
                </div>
                <div class="card-body">

                    <div ng-repeat="sumtotal in sumtotalprice">
                        총 판매금액: {{sumtotal | number:0}}원

                    </div>
                    <div ng-repeat="totalc in totalCount">
                        총 주문건수: {{totalc}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        월단위 판매량
                    </div>
                    <div ng-repeat="total in totalprice3">
                        4월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="total in totalprice2">
                        3월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="total in totalprice1">
                        2월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="threetotal in threeTotalCount">
                        최근 3달간 총 판매금액 {{threetotal | number:0}}원
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <div style="display: flex; flex-direction: column; text-align: center; width: 100%;">
                            <div style="width: 100%;">
                                <!-- 막대그래프 -->
                                <div style="width: 100%; margin-bottom: 1%;">
                                    <canvas class="chart chart-bar" chart-data="totalPriceData" chart-labels="monthsLabels" chart-colors="colors"
                                        chart-series="priceSeries">
                                    </canvas>
                                </div>
                                <div>
                                    <canvas class="chart chart-bar" chart-data="totalNumberData" chart-labels="monthsLabels" chart-colors="colors"
                                        chart-series="numberSeries">
                                    </canvas>
                                </div>

                            </div>
                            <!-- 
                            <div style="display: flex; flex-direction: row;">
                                <div style="flex-grow: 4;">
                                    <div>
                                        금월
                                    </div>
                                    <div>
                                        &#8361;{{totalprice[0]}}
                                    </div>
                                    <div>
                                        {{month3.length}} 건
                                    </div>
                                </div>
                                <div style="flex-grow: 4;">
                                    <div>
                                        전월
                                    </div>
                                    <div>
                                        &#8361;{{totalprice[1]}}
                                    </div>
                                    <div>
                                        {{month2.length}} 건
                                    </div>
                                </div>
                                <div style="flex-grow: 4;">
                                    <div>
                                        전전월
                                    </div>
                                    <div>
                                        &#8361;{{totalprice[2]}}
                                    </div>
                                    <div>
                                        {{month1.length}} 건
                                    </div>
                                </div>
                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mt-2">결제방식</h5>
                </div>
                <div class="card-body">
                   
                    <div class="ml-5" style="width: 75%;">
                        <!-- 원형도표 -->
                        
                        <canvas class="ml-5 chart chart-pie"
                                chart-data="payData" chart-labels="payLabels" chart-colors="colors">
                        </canvas> 

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>