<div class="card">
    <div class="card-header">
        주문 실적
    </div>
    <div class="card-body">
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        누적 판매량
                    </div>
                </div>
                <div class="card-body">
                    <div ng-repeat="sumtotal in sumtotalprice">
                        총 판매금액: {{sumtotal | number:0}}원
                    </div>
                    <div ng-repeat="totalc in totalCount">
                        총 주문건수: {{totalc}}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        월단위 판매량
                    </div>
                    <div ng-repeat="total in totalprice3">
                        4월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="total in totalprice2">
                        3월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="total in totalprice1">
                        2월 판매금액 {{total | number: 0}}원
                    </div>
                    <div ng-repeat="threetotal in threeTotalCount">
                        최근 3달간 총 판매금액 {{threetotal | number:0}}원
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <!-- 막대그래프 -->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <div>
                        결제 방법 도표
                    </div>
                    <div ng-repeat="cardpay in cardpaycount">
                        카드 결제 {{cardpay}}
                    </div>
                    <div ng-repeat="depositpay in depositpaycount">
                        무통장입금 결제 {{depositpay}}
                    </div>
                    <div ng-repeat="phonepay in phonepaycount">
                        핸드폰 결제 {{phonepay}}
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <!-- 원형도표 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>