<div class="card">
    <div class="card-header">
        회원 실적
    </div>
    <div class="card-body">
        <div>
            <div>
                <!-- 막대 그래프 자리 -->
                
            </div>
            <div>
                <div>
                    총 회원수: {{totalMemberNum}}
                </div>
                <div>
                    최근 한 달간 가입한 회원수: {{recentJoinNum}}
                </div>
                <div>
                    실구매 회원수: {{buyMemberNum}}
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="mt-3">
                우수 고객:
                <div ng-repeat="vip in vipMembers">{{vip.member_name}}</div>
            </div>
            <div class="mt-3">
                인플루언서:
                <div ng-repeat="influencer in influencers">{{influencer.member_nickname}}</div>
            </div>
        </div>
    </div>
</div>