<div class="card">
    <div class="card-header">
        회원 실적
    </div>
    <div class="card-body">
        <div>
            <div>
                <!-- 막대 그래프 자리 -->
            </div>
            <div>
                <div>
                    총 회원수:
                </div>
                <div>
                    최근 한 달간 가입한 회원수:
                </div>
                <div>
                    실구매 회원수:
                </div>
            </div>
        </div>
        <br>
        <div>
            <div>
                우수 고객 품목이 많은:
            </div>
            <div>
                인플러언서:
            </div>
        </div>
    </div>
</div>