
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="uid">User ID</label>
                  <input id="uid" type="text" class="form-control" ng-model="">
                </div>
                <div class="form-group">
                  <label for="upassword">User Password</label>
                  <input id="upassword" type="password" class="form-control" ng-model="">
                </div>
               
                <button class="btn btn-primary" ng-click="">Login</button>
              </form>
        </div>
    </div>
