<div class="card">
  <div class="card-header">
    Login Form
  </div>
  <div class="card-body">
    <form name="loginForm" novalidate>
      <div class="form-group">
        <label for="uid">User ID</label>
        <input id="uid" name="uid" type="text" class="form-control" ng-model="user.uid" autocomplete="username" ng-required="true">

        <div class="error" ng-show="loginForm.uid.$invalid && loginForm.uid.$dirty">
          <span ng-show="loginForm.uid.$error.required">필수 입력 사항입니다.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="upassword">User Password</label>
        <input id="upassword" name="upassword" type="password" class="form-control" ng-model="user.upassword"
          autocomplete="current-password" ng-required="true">
        <div class="error" ng-show="loginForm.upassword.$invalid && loginForm.upassword.$dirty">
          <span ng-show="loginForm.upassword.$error.required">필수 입력 사항입니다.</span>
        </div>
      </div>
      <!-- AngularJS는 자동 submit 기능이 없음 -->
      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid"
        ng-click="login(user)">Login</button>
    </form>
  </div>
</div>