<style>
    .listDesign{
       
       text-align: center;
        
    }
    td > a > img {
        width:120px;
    }
    
    ul > li {
        list-style: none;
        padding: 2%;
    }
</style>


<div class="card">
    <div class="card-header">
        팔방 게시물 목록
    </div>
    <div class="card-body">

            <div class="mb-3">
                <select ng-model="kindVal">
                    <option ng-repeat="kindVal in kindList">{{kindVal}}</option>
                  </select>
            </div>

            <div>
                <table class="table table-striped table-bordered ">
                    <tr>
                        <th>대표 이미지</th>
                        <th>제목</th>
                        <th>별명</th>
                        <th>날짜</th>
                        <th>좋아요 수</th>
                        <th>조회수</th>
                        
                    </tr>
                    <tr ng-repeat="pal in palbang" class="listDesign">
                        <td><a ng-click="read(pal.palbang_id)" href=""><img src="resources/images/palbang_post/{{pal.palbang_imgsname}}"></a></td>
                        <td>{{pal.palbang_title}}</td>
                        <td>{{pal.palbang_nickname}}</td>
                        <td>{{pal.palbang_date | date:"yyyy.MM.dd"}}</td>
                        <td>{{pal.palbang_likecount}}</td>
                        <td>{{pal.palbang_viewcount}}</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            <button class="btn btn-outline-primary btn-sm" 
                                        ng-click="getList(1)">처음</button> 
                            <button class="btn btn-sm" 
                                        ng-show="pager.groupNo>1" 
                                        ng-click="getList(pager.startPageNo-1)">이전</button>
                            <button ng-repeat="i in pageRange"
                                        class="btn btn-sm {{(pager.pageNo==i)?'btn-primary':'btn-light'}} {{!$last?'mr-1':''}}" 
                                        ng-click="getList(i)">{{i}}</button>
                            <button class="btn btn-sm" 
                                        ng-show="pager.groupNo < pager.totalGroupNo" 
                                        ng-click="getList(pager.endPageNo+1)">다음</button>
                            <button class="btn btn-outline-primary btn-sm" 
                                        ng-click="getList(pager.totalPageNo)">맨끝</button>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
</div>